.modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
}

.modalName {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    text-align: center;
}

.img {
    width: 480px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.close {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
}

.description div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 112px;
}

.description div p, .description div span {
    text-align: center;
    color: var(--text-dark-grey-secondary-text, #8585AD);
}

.description div:nth-child(1) {
    width: 120px;
}