.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 860px;
    display: flex;
    justify-content: space-between;
}
.form{
    margin-top: 80px;
    width: 480px;
}

.box_right {
    width: 480px;
}

.box_left {
    width: 320px;
}

.tab {
    color: var(--text-dark-grey-secondary-text, #8585AD);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.text {
    color: var(--text-dark-grey-secondary-text, #8585AD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}