.box {
    margin-top: 40px;
    margin-left: calc((100% - 900px)/2);
    display: flex;
    width: 1090px;
    justify-content: space-between;
}

.box_right {
    box-sizing: border-box;
    width: calc(100% - 390px);
}

.box_left {
    margin-top: 80px;
    width: 320px;
    flex-shrink: 0;
}

.tab {
    color: var(--text-dark-grey-secondary-text, #8585AD);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}

.text {
    color: var(--text-dark-grey-secondary-text, #8585AD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}