.table{
    display: grid;
    justify-content: flex-end;
    align-content: center;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
    padding: 10px;
    border: 2px solid #696989;
    height: 200px;
    width: 400px;
}
.table > li {
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #696989
}

.parent {
    display: grid;
    justify-content: flex-end;
    align-content: center;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
    padding: 10px;
    border: 2px solid #696989;
    height: 200px;
    width: 400px;
}
.parent > div {
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #696989;
}