.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.left_menu {
  /*grid-column: 1/span 1;*/
  display: flex;
  /*align-items: center;*/
  flex-basis: 35%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.logo {
  /*width: 50px;*/
  /*height: 50px;*/
  margin: 0 auto;
}

.right_menu {
  display: flex;
  align-items: center;
  flex-basis: 35%;
  justify-content: flex-end;
}
