.header {
  grid-row: 1/span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.header_content {
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.left_menu {
  grid-column: 1/span 1;
  display: flex;
  align-items: center;
}


.logo {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}

.title {
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  margin: 0 0 20px;
  font-family: 'Spectral', Arial, sans-serif;
}